.App {
  text-align: center;
  margin-top: 50px;
  /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); */
  /* width: 60%; */
  margin: 20px auto;
  padding: 20px;
  /* border-radius: 50px; */
  background-color: #dad7cd;
}

.header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 50px;
  background-color: #a3b18a;
  /* margin: 20px; */
  padding: 20px;
  border-radius: 50px;
}

.title {
  font-size: 30px;
  /* margin-bottom: 50px; */
}

.titleGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.van {
  width: 100px;
  margin-right: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 50px;
  margin-top:50px;
}

.leaflet-container {
  width: 1800px;
  height: 800px;
}





input {
  margin-left:20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}


button {
  padding: 10px 20px;
  background-color: #3a5a40;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #588157;
}

