.container {
    display: flex;
}

.sidebar {
    width:250px;
    height: 80vh;
    top: 15vh;
    padding: 10px;
    position: fixed;
    align-items: center;
    text-align: center;
    /* background: linear-gradient(#e66465, #9198e5); */
    /* background: linear-gradient(#41D8DD, #5583EE); */
    background: linear-gradient(#5583EE, #41D8DD);
    transition: all 0.3s ease-in-out;
    transform: translateX(-200px);
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar.open {
    transform: translateX(0);
}

.buttondiv {
    display: flex;
    justify-content: flex-end;
}

.toggle-btn {
    /* margin-left: auto; */

    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
