.App {
  text-align: center;
  margin-top: 50px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  width: 60%;
  margin: 20px auto;
  padding: 20px;

}

.title {
  font-size: 48px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.divform {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.map {
    display: inline-block;
    width: 45%;
    height:300px;
      vertical-align: top;
    /* Pour aligner le contenu en haut de chaque div */
}

.imgmap {
  width: 80%;
  height: 80%;
}

.destination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.destination .depart,
.destination .arrive {
  flex: 1;
  margin-right: 20px;
  margin-left : 20px;
}


label {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}



form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
}

input[type="number"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

.divtemps {
  font-size: 24px;
  font-weight: bold;
}